.navbar-google{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-item-google{
    margin: 10px;
}

/* unvisited link */
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
  }
  
  /* selected link */
  a:active {
    color: black;
  }

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.rounded-item{
    background-color: var(--color-searchbox-background);
    border: none;
    border-radius: var(--cr-searchbox-border-radius);
    color: var(--color-searchbox-foreground);
    font-family: inherit;
    font-size: inherit;
    height: 100%;
    outline: 0;
    padding-inline-end: calc(var(--cr-searchbox-voice-icon-offset) + var(--cr-searchbox-voice-search-button-width) + var(--cr-searchbox-inner-icon-margin));
    padding-inline-start: calc(52px + var(--cr-searchbox-thumbnail-icon-offset, 0px));
    position: relative;
    width: 100%;
}

