.navbar-google {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navbar-item-google {
  margin: 10px;


}

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 40px;
}


.search-container {
  text-align: center;
}

.search-bar {
  width: 500px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 24px;
  outline: none;
  font-size: 16px;
}

.search-bar:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.buttons {
  margin-top: 20px;
}

.search-button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background-color: #f8f9fa;
  color: #3c4043;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.search-button:hover {
  background-color: #e8e8e8;
}

#btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px;
}
